.employees-table {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.employees-data-grid {
    width: 90%;
}

.employees-id-column {
    width: 25px;
}

.employees-title {
    font-size: x-large;
    margin-left: 100px;
}

.employees-wrapper {
    margin-bottom: 200px;
}
