.add-message-wrapper {
    display: block;
    width: 61%;
    margin-bottom: 30px;
    padding: 10px 10px 10px 0;
    border-radius: 10px;
    overflow: hidden;
}

.post-message-button {
    float: right;
    margin: 7px 15px 0 0;
}
