<div class="row text-center">
    <div class="col-md-4">
        <h3 class="month-year-h3">
            {{ viewDate | calendarDate: view + "ViewTitle":"en" }}
        </h3>
    </div>
    <div class="date-control-button-container">
        <div class="btn-group">
            <div
                class="date-control-button"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
            >
                Previous
            </div>
            <div
                class="date-control-button"
                mwlCalendarToday
                [(viewDate)]="viewDate"
            >
                Today
            </div>
            <div
                class="date-control-button"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
            >
                Next
            </div>
        </div>
    </div>
</div>
<br />
<div [ngSwitch]="view">
    <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="calendarEvents"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
    >
    </mwl-calendar-month-view>
</div>
<div
    class="calendar-events-control-wrapper"
    *ngIf="hasPermissionToManageRows()"
>
    <h3 class="calendar-events-control-title">Manage calendar events:</h3>
    <div class="calendar-events-datagrid-wrapper">
        <dx-data-grid
            class="calendar-events-datagrid"
            [dataSource]="calendarEvents"
            [showBorders]="false"
            (onRowInserting)="addCalendarEvent($event)"
            (onRowUpdated)="updateCalendarEvent($event)"
            (onRowRemoving)="deleteCalendarEvent($event)"
        >
            <dxi-column
                dataField="id"
                width="75px"
                [allowEditing]="false"
            ></dxi-column>
            <dxi-column dataField="title" width="350px"></dxi-column>
            <dxi-column
                dataField="start"
                dataType="date"
                width="150px"
            ></dxi-column>
            <dxi-column
                dataField="end"
                dataType="date"
                width="150px"
            ></dxi-column>
            <dxi-column dataField="color">
                <dxo-lookup
                    [dataSource]="availableColors"
                    displayExpr="Color"
                    valueExpr="ID"
                ></dxo-lookup
            ></dxi-column>
            <dxi-column
                dataField="invitedEmployeesIds"
                width="150px"
            ></dxi-column>
            <dxo-editing
                mode="batch"
                [allowUpdating]="true"
                [allowAdding]="true"
                [allowDeleting]="true"
                [selectTextOnEditStart]="false"
            >
            </dxo-editing>
        </dx-data-grid>
    </div>
</div>
