h3 {
    margin: 0 0 10px;
}

pre {
    background-color: #f5f5f5;
    padding: 15px;
}

.date-control-button-container {
    margin: auto;
    width: 12%;
    padding: 10px;
}
.date-control-button {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    font-size: large;
    font-weight: bolder;
    color: cadetblue;
    cursor: pointer;
}
