.month-year-h3 {
    margin: 45px 0 10px;
    justify-content: center;
    display: flex;
}

// pre {
//     background-color: #f5f5f5;
//     padding: 15px;
// }

.date-control-button-container {
    margin: auto;
    width: 12%;
    padding: 10px;
}

.date-control-button {
    width: 33%;
    display: inline-block;
    font-size: large;
    font-weight: bolder;
    color: #2d9587;
    cursor: pointer;
    text-align: center;
    label {
        cursor: pointer;
    }
}

.calendar-events-datagrid-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.calendar-events-control-title {
    display: flex;
    justify-content: center;
}

.calendar-events-datagrid {
    width: 70%;
}

.calendar-events-control-wrapper {
    margin: 100px 0 200px 0;
}
