<section>
    <div class="content-wrapper">
        <div class="employee-information-wrapper">
            <div class="employee-information-subtitle">
                <h2>Welcome back, {{ loggedInUser?.firstName }}</h2>
            </div>
            <div class="employee-information">
                <label>Email: {{ loggedInUser?.email }}</label>
                <label>Contact: {{ loggedInUser?.phone }}</label>
                <br />
                <label>Job: {{ loggedInUser?.jobTitle }}</label>
                <label>Role: {{ loggedInUser.roles | rolesFormat }}</label>
                <label>Department: {{ loggedInUser?.department }}</label>
                <br />
                <label
                    >Manager:
                    {{
                        loggedInUser.manager?.firstName +
                            " " +
                            loggedInUser.manager?.lastName
                    }}</label
                >
                <label>Manager email: {{ loggedInUser.manager?.email }}</label>
                <label
                    >Manager contact: {{ loggedInUser.manager?.phone }}</label
                >
            </div>
        </div>
    </div>
</section>
