.employee-information {
    margin-left: 25px;
    label {
        display: block;
        margin-top: 5px;
        font-size: medium;
    }
}

.employee-information-wrapper {
    margin-bottom: 70px;
}

.content-wrapper {
    margin-left: 25px;
}
