.employee-information {
    display: block;
    label {
        display: inherit;
        margin-top: 5px;
        font-size: medium;
    }
}

.employee-information-wrapper {
    margin-bottom: 70px;
}
