<section>
    <div class="content-wrapper">
        <div class="employee-information-wrapper">
            <!-- TODO: This is a mock, should display employee's information. -->
            <h1>
                TODO: This is a mock, should display employee's information.
            </h1>
            <div class="employee-information-subtitle">
                <h3>Welcome back, employee.firstName</h3>
            </div>
            <div class="employee-information">
                <label>Job: employee.jobTitle</label>
                <label>Email: employee.email</label>
                <label>Department: employee.department</label>
            </div>
        </div>
        <div class="updates-wrapper">
            <h3>Updates since last visit:</h3>
            <div class="updates-content">
                <h2>
                    TODO: This is a mock, should display employee's updates
                    since last log in.
                </h2>
            </div>
        </div>
    </div>
</section>
