<div class="discussion-sidebar-wrapper">
    <h4 class="topics-header">Topics:</h4>
    <ul class="topicsbar" routerLinkActive="active">
        <li class="topic-items" *ngFor="let topic of topics">
            <div class="topic-link">{{ topic.title }}</div>
            <div
                class="topic-children"
                *ngFor="let childTopic of topic.children"
                (onClick)="setSelectedTopic($event)"
            >
                {{ childTopic.title }}
            </div>
        </li>
    </ul>
</div>

<div class="main-content-wrapper">
    <label *ngFor="let message of messages">
        <div class="message-informaton">
            <label class="sender-datetime-information">{{
                this.message.sender.email +
                    ", " +
                    (this.message.timeSent | date: "short")
            }}</label>
        </div>
        <label>
            {{ this.message.content }}
        </label>
    </label>
    <dx-text-area
        [height]="100"
        [(value)]="messageContent"
        [label]="postMessagePlaceholder"
        labelMode="link"
        [maxLength]="1000"
    ></dx-text-area>
    <dx-button
        class="post-message-button"
        text="Post"
        [width]="75"
        [height]="30"
    >
    </dx-button>
    <div class="manage-topics-title">
        <h3>Manage topics</h3>
    </div>
    <div class="topics-datagrid-wrapper">
        <dx-data-grid
            class="topics-datagrid"
            width="750px"
            [dataSource]="topics"
            [showBorders]="false"
            (onRowInserting)="addDiscussionTopic($event)"
            (onRowUpdated)="updateDiscussionTopic($event)"
            (onRowRemoving)="deleteDiscussionTopic($event)"
        >
            <dxi-column
                dataField="id"
                width="100px"
                [allowEditing]="false"
            ></dxi-column>
            <dxi-column dataField="title" width="400px"></dxi-column>
            <dxi-column
                dataField="parentID"
                width="100px"
                caption="Parent Id"
            ></dxi-column>
            <dxo-editing
                mode="batch"
                [allowUpdating]="true"
                [allowAdding]="true"
                [allowDeleting]="true"
                [selectTextOnEditStart]="false"
            ></dxo-editing>
        </dx-data-grid>
    </div>
</div>
