.calendar-events-datagrid-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.calendar-events-datagrid {
    width: 50%;
}

.table-title,
.permission-wrapper-false {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
